body {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: #111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-family: "SF Pro", sans-serif;
  color: white;
  margin-bottom: 20px;
}
.title.floating {
  font-size: 36px;
  font-weight: bold;
  font-family: "SF Pro", sans-serif;
  color: white;
  margin-bottom: 20px;
  transform: translateY(-400%);
  transition: transform 3s ease;
}

.input-container {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  transition: width 3s ease; 
}

.input-container.floating {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-500%);
  transition: transform 3s ease;
} 

.input-box {
  padding: 8px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: white;
  background-color: #333;
  border-radius: 8px 0 0 8px;
  border: none;
  width: 300px;
  outline: none;
}

.go-button {
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: white;
  background-color: purple;
  border-radius: 0 8px 8px 0;
  border: none;
  outline: none;
  cursor: pointer;
  width: 60px;
}

.list-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #111;
}

.list-container div {
  margin-bottom: 8px;
  padding: 20px;
  font-size: 18px;
  color: white;
  animation: fadeIn ease 3s;
}
/* @media (max-width: 768px) {
  .app-container.floating {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list-container {
    padding: 0;
  }

  .list-container div {
    margin: 8px auto;
  }
} */

.list-item {
  font-size: 18px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  background-color: #1a1a1a;
  margin-bottom: 8px;
  width: calc(300px + 60px);
}

.list-div {
  height: 50vh;
  margin-top: 30px;
}

.loader {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* App.css */

